.controller {
    width: 100%;
}
button {
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border-radius: 6px;
}
button:focus {
    border: none!important;
}